<section>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <p>
          <strong class="strong-text">Nombre:</strong><br>
          <span class="customer-name"><%= "#{client.first_name} #{client.last_name}" %></span>
        </p>
      </div>

      <div class="col-md-6">
        <p>
          <strong class="strong-text">Teléfono:</strong><br>
          <span class="customer-info"><%= client.phone %></span>
        </p>
        <p>
          <strong class="strong-text">Punto de venta:</strong><br>
          <span class="customer-info">Cumbres</span>
        </p>
      </div>

      <div class="col-md-6">
        <p>
          <strong class="strong-text">Correo electrónico:</strong><br>
          <span class="customer-info"><%= client.email %></span>
        </p>
        <p>
          <strong class="strong-text">RFC:</strong><br>
          <span class="customer-info">XAXX010101000</span>
        </p>
      </div>
    </div>
  </div>
</section>
