<div class="container">
  <% content_for :title, "Editing client" %>

  <h1>Editar client</h1>

  <%= render "form", client: @client %>

  <br>

  <div>
    <%= link_to "Ver este cliente", @client %> |
    <%= link_to "Ver todos los clients", clients_path %>
  </div>
</div>
