<div class="container">
  <% content_for :title, "New client" %>

  <h1>Agregar Cliente</h1>

  <%= render "form", client: @client %>

  <br>

  <div>
    <%= link_to "Ver todos los clientes", clients_path %>
  </div>
</div>