<div class="container">
  <% content_for :title, "Editing address" %>

  <h1>Editar Dirección</h1>

  <%= render "form", address: @address %>

  <br>

  <div>
    <%= link_to "Show this address", @address %> |
    <%= link_to "Back to addresses", addresses_path %>
  </div>
</div>