<div class="container">
<% content_for :title, "Editar motocicleta" %>

<h1>Editar motocicleta</h1>

<%= render "form", motorcycle: @motorcycle %>

<br>

<div>
  <%= link_to "Ver esta motocicletas", @motorcycle %> |
  <%= link_to "Ver todas las motocicletas", motorcycles_path %>
</div>
</div>
