<div class="container">
<% content_for :title, "Agregar motocicleta" %>

<h1>Agregar motocicleta</h1>

<%= render "form", motorcycle: @motorcycle %>

<br>

<div>
  <%= link_to "Ver todos las motocicletas", motorcycles_path %>
</div>
</div>